@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background: var(--background-gray-600);
}

main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1330px;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input{
  outline: none;
}