@import './base.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1330px;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

button {
  cursor: pointer;
  border: none;
}

input{
  outline: none;
}